[Unit]
Description=Canto
After=network.target

[Service]
# Change these!
ExecStart=/usr/bin/python -u /home/pi/null/code/main.py
Restart=always
User=pi
WorkingDirectory=/home/pi/null/code
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
